:root {
  --body-background-color: #03346E;
  --body-color: #03346E;
}


body {
  transition:
    background-color 500ms ease,
    color 500ms ease;

  background-color: var(--body-background-color);
  color: var(--body-color);

  &.day {
    --body-background-color: #3176F1;
    --body-color: white;
  }

  &.night {
    --body-background-color: #021526;
    --body-color: #E2E2B6;
  }
}
