:root {
  --body-background-color: #03346E;
  --body-color: #03346E;
}


* {
  transition: all 500ms ease;
}


body {
  background-color: var(--body-background-color);
  color: var(--body-color);

  &.dark {
    --body-background-color: #021526;
    --body-color: #E2E2B6;
  }

  &.light {
    --body-background-color: #3176F1;
    --body-color: white;
  }
}
